Chapter1/chapter1.exe
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
test.cc
*.exe
Chapter2/*.exe
Chapter3/*.exe
Chapter4/*.exe   
Chapter5/*.exe
Chapter6/*.exe
Chapter7/*.exe
Chapter8/*.exe
Chapter9/*.exe
Chapter10/*.exe
Chapter11/*.exe
Chapter12/*.exe
Chapter13/*.exe
Chapter14/*.exe
Chapter15/*.exe
Chapter16/*.exe
Chapter17/*.exe
Chapter18/*.exe
Chapter19/*.exe
.vscode/tasks.json 
*/tempCodeRunnerFile.cc
*/tempCodeRunnerFile.cpp
